In [41]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
data = {"category":["A","B","C","D","A","A","B"]}
df = pd.DataFrame(data)
df.head()

  category
0        A
1        B
2        C
3        D
4        A

In [47]:
one_hot_encoded_df = pd.get_dummies(df,columns=["category"],dtype=float)
one_hot_encoded_df

   category_A  category_B  category_C  category_D
0         1.0         0.0         0.0         0.0
1         0.0         1.0         0.0         0.0
2         0.0         0.0         1.0         0.0
3         0.0         0.0         0.0         1.0
4         1.0         0.0         0.0         0.0
5         1.0         0.0         0.0         0.0
6         0.0         1.0         0.0         0.0

In [48]:
one_hot_encoded_df = pd.get_dummies(df,columns=["category"],prefix="Encoded",drop_first=True,dtype=float)
one_hot_encoded_df

   Encoded_B  Encoded_C  Encoded_D
0        0.0        0.0        0.0
1        1.0        0.0        0.0
2        0.0        1.0        0.0
3        0.0        0.0        1.0
4        0.0        0.0        0.0
5        0.0        0.0        0.0
6        1.0        0.0        0.0